body{
  background: linear-gradient(rgb(245, 189, 124) , rgb(219, 127, 127));
  max-width: 100%;
}

header{
  margin: 35px 36px 40px 36px;
}
.contenedor1{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
#nav-bar{
  position: fixed;
  top: 0;
  width: 50%;
  font-size: 22px;
  margin: 0 30% auto 30%;
  color:rgb(0, 0, 0);

}
ul{
  list-style: none;
    display: inline-block;
    justify-content: space-around;
    color: white;
    margin: 1% 1% 1% 68%;
    width: 41%;
}
a{
  background-color: rgb(53, 46, 46);
  text-decoration: none;
  display: block;
  padding: 10px;
  color: white;

}a:hover{
  background-color: rgb(68, 200, 63);
  color:white;
  display:block;

}
#header-img{
  width: 300px;
  height: 280px;
  border-radius: 50%;
  margin: 2% 40% 0 38%;
}
h1{
  text-align: center;
}
video{
  margin: 2% 32% 5% 26%;
}
.contenedor{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  
}
.contenedor img{
  border-radius: 20px;
}
#form{
  padding: 40px;
  text-align: center;
}
#boton{
  padding: 10px ;
  background-color: lawngreen;
  color:black;
  font-size: 17px;
  border-radius: 20px;
  border: 1px solid white
}
#boton:hover{
  background-color: rgb(210, 57, 30);
  color: white;
  border: 1px solid white;
}
#email{
  padding: 10px;
  font-size: 17px;
  width: 20%;
}
#submit{
  padding: 10px;
  background-color: chartreuse;
  font-size: 17px;
  border-radius: 10px;
  border: white;
}
#submit:hover{
  background-color: rgb(210, 57, 30);
  color: white;
  border: 1px solid white;
}

  @media screen and (max-width: 640px) {
  
    body{
      margin: 0;

    }
    .contenedor1{
      text-align: center;
      display: flex;
      flex-direction: row;
    }
    
    header{
      margin: 0;
    }
    #nav-bar{
      position: relative;
      top: 5px;
      width: 44%;
      font-size: 16px;
      margin: 0;
    }
    #header-img{
      width: 180px;
      height: 180px;
      border-radius: 50%;
      margin: 10% 0 0 25%
    }
    h1{
      text-align: center;
    }
    video{
      margin: 2% 0 5% 5%;
      width: 90%;;
    }
    .contenedor{
      margin-left: 5px;
      width: 95%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    .contenedor img{
      width: 80%;
      margin-top: 60px;
    }
    #boton{
      padding: 5px;
    }
    #form{
      margin-bottom: 60px;
      padding: 20px 15px;
      text-align: center;
      width: 90%;
    }
    #email{
      border: 2px solid white;
      width: 92%;
      margin-bottom: 10px;
      border-radius: 10px;
      text-align: center;
      padding: 5px;
    }
    #submit{
      padding: 5px;
      width: 96%;
    }
  }